PORT=9000
APP_URL=http://localhost:9000
# APP_URL=https://api.insidebysana.uz
APP_MODE=development

APP_CLIENT_URL=http://localhost:4000
APP_CRM_URL=http://localhost:3000

DB_HOST=127.0.0.1
DB_LOGIN=root
DB_PASSWORD=root
DB_TABLE=db

MAIL_DRIVER=smtp
MAIL_HOST=smtp.yandex.ru
MAIL_PORT=465
MAIL_USERNAME=info@eon.uz
MAIL_PASSWORD=null
MAIL_ENCRYPTION=true
MAIL_FROM_ADDRESS=info@eon.uz
MAIL_FROM_NAME="EON Platform"

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

PAYME_KEY=@ESNiqU6Ucmc2?%H?Y2#U6#0p75S6zvB#@Y@
PAYME_LOGIN=Paycom

ESKIZ_EMAIL=nikita.kodenko@mail.ru
ESKIZ_PASSWORD=pfw6SKrcvEmDRM3R9o7Npp3rPa7OL8CyZQLDrxTt
ESKIZ_FROM=InsideSana

FACEBOOK_CHAT_ID=1879695635649644
FACEBOOK_APP_ID=790816685095439
FACEBOOK_APP_SECRET=013fac914053354b9d6991520e34312d
FACEBOOK_APP_VERSION=13.0
FACEBOOK_PAGE_ACCESS_TOKEN=EAALPPluYZBg8BADnuTDZCFIelOsB9qjTbxzvpDuur6biR0yS6M4gk0jbfieCfUcLZCsKVh5VhxgZBZCkZBZC0UTiKvHaZCfAeRxTZCj8kE1J8jF7qJLh2MCjmNfcVgYYcGrfGCXpGJHh8aFqgvZCbZB7vqu5b2x86P4aC5nQM5RLAZBzh8QZAovwZBPJSw
FACEBOOK_VERIFY_TOKEN=dasd4234h2j3k4hlkl
